<div class="intro" id="home">

  <!-- Banner  -->
  <div class="over">
    <div class="container text-center">
      <picture>
        <source srcset="../assets/imgs/logo20final.webp" type="image/webp">
        <source srcset="../assets/imgs/logo20final.png" type="image/png">
        <img src="../assets/imgs/logo20final.png" class="img-fluid logo" alt="logo" data-aos="fade-right">
      </picture>
      <picture>
        <source srcset="../assets/imgs/king.webp" type="image/webp">
        <source srcset="../assets/imgs/king.png" type="image/png">
        <img src="../assets/imgs/king.png" class="img-fluid d-none d-md-inline-flex king" alt="king">
      </picture>

      <picture>
        <source srcset="../assets/imgs/builder1.webp" type="image/webp">
        <source srcset="../assets/imgs/builder1.png" type="image/png">
        <img src="../assets/imgs/builder1.png" class="img-fluid builder" alt="" data-aos="fade-up">
      </picture>

      <div class="black-box"></div>
    </div>
  </div>


</div>

<!-- ABOUT US -->
<div class="uc" id="o-nas">
  <div class="over-3">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1 align-self-center">
          <picture>
            <source srcset="../assets/imgs/builder3.webp" type="image/webp">
            <source srcset="../assets/imgs/builder3.png" type="image/png">
            <img src="../assets/imgs/builder3.png" class="img-fluid" alt="" data-aos="fade-up">
          </picture>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2 py-5">
          <div class="box p-5" data-aos="fade-left">
            <h3>UNITED CLAN</h3>
            <h5>Mental Institute</h5>
            <p>
              Jsme český klan. Ostřílení hráči, co se nebojí dělat si srandu sami ze sebe. Být aktivní pro nás znamená,
              že
              buildeři a lab nikdy nespí, level hrdinů se neustále zvedá. Je to jako mít druhou práci – krev, pot a
              slzy.
              Ale musí to být zároveň i zábava, takže pokud ti občas něco usne, my z toho střílet nebudeme. Snahu
              poznáme.
              Pokud jsi aktivní a nemáš moc uspěchanou TH, přidej se k nám a pojď se s námi bavit.
            </p>
          </div>


        </div>


      </div>

    </div>
  </div>


</div>










