<div class="intro">

  <div class="container text-center">
    <img src="../assets/imgs/logo20final.png" class="img-fluid logo" alt="">
    <img src="../assets/imgs/king.png" class="img-fluid d-none d-md-inline-flex king" alt="">
    <img src="../assets/imgs/builder1.png" class="img-fluid builder" alt="">
    <div class="black-box"></div>
  </div>

</div>
<div class="join">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 with-box col-md-6 order-2 order-md-1 align-self-center">
        <img src="../assets/imgs/builder3.png" class="img-fluid builder-2" alt="">
      </div>
      <div class="col-sm-12 col-md-6 order-1 order-md-2 py-5 py-0">
        <h3>UNITED CLAN</h3>
        <h5>Mental Institute</h5>
        <p>
          Jsme český klan. Ostřílení hráči, co se nebojí dělat si srandu sami ze sebe. Být aktivní pro nás znamená, že
          buildeři a lab nikdy nespí, level hrdinů se neustále zvedá. Je to jako mít druhou práci – krev, pot a slzy.
          Ale musí to být zároveň i zábava, takže pokud ti občas něco usne, my z toho střílet nebudeme. Snahu poznáme.
          Pokud jsi aktivní a nemáš moc uspěchanou TH, přidej se k nám a pojď se s námi bavit.
        </p>

      </div>
        <div class="prijimame col-sm-12 col-md-6 order-3">
          <h2 class="font-weight-bold">Přijímáme Aktivní Hráče</h2>
          <ul class="list-unstyled">
            <li>Neuspěchaná base</li>
            <li>Minimalne TH 11+</li>
            <li>Chuť se učit novým věcem</li>
            <li>Komunikativnost</li>
            <li>Aktivita</li>
            <li>Věk 18+</li>
            <li>Zájem budovat společný klan</li>
            <li class="text-right">
              <a href="#join" class="btn btn-link">Přidej se k nám <i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>

        </div>

    </div>
    <div class="col-sm-12 with-box col-md-6 align-self-center">
      <img src="../assets/imgs/builder4.png" class="img-fluid builder-4 order-4 offset-md-6" alt="">
    </div>
  </div>

</div>
