<div class="intro" id="home">
  <div class="over">
    <div class="container text-center">
      <img src="../assets/imgs/logo20final.png" class="img-fluid logo" alt="" data-aos="fade-right">
      <img src="../assets/imgs/king.png" class="img-fluid d-none d-md-inline-flex king" alt="" data-aos="zoom-in">
      <img src="../assets/imgs/builder1.png" class="img-fluid builder" alt="" data-aos="fade-up">
      <div class="black-box"></div>
    </div>
  </div>


</div>
<div class="uc" id="o-nas">
  <div class="over-3">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1 align-self-center">
          <img src="../assets/imgs/builder3.png" class="img-fluid" alt="" data-aos="fade-up">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2 py-5">
          <div class="box p-5" data-aos="fade-left">
            <h3>UNITED CLAN</h3>
            <h5>Mental Institute</h5>
            <p>
              Jsme český klan. Ostřílení hráči, co se nebojí dělat si srandu sami ze sebe. Být aktivní pro nás znamená,
              že
              buildeři a lab nikdy nespí, level hrdinů se neustále zvedá. Je to jako mít druhou práci – krev, pot a
              slzy.
              Ale musí to být zároveň i zábava, takže pokud ti občas něco usne, my z toho střílet nebudeme. Snahu
              poznáme.
              Pokud jsi aktivní a nemáš moc uspěchanou TH, přidej se k nám a pojď se s námi bavit.
            </p>
          </div>


        </div>


      </div>

    </div>
  </div>


</div>

<div class="join" id="pridej-se">
  <div class="over-2">
    <div class="container py-5">
      <div class="row">
        <div class="box col-sm-12 col-md-12 col-lg-6 p-5 align-self-center" data-aos="fade-right">
          <h2 class="font-weight-bold">Přijímáme Aktivní Hráče</h2>
          <ul class="list-unstyled">
            <li>Neuspěchaná base</li>
            <li>Minimalne TH 11+</li>
            <li>Chuť se učit novým věcem</li>
            <li>Komunikativnost</li>
            <li>Aktivita</li>
            <li>Věk 18+</li>
            <li>Zájem budovat společný klan</li>
            <p class="text-right">
              <a href="#discord" class="btn btn-link">Přidej se k nám <i class="fa fa-angle-double-right"></i></a>
            </p>
          </ul>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 align-self-center">
          <img src="../assets/imgs/builder4.png" class="img-fluid" alt="" data-aos="fade-up">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="rules" id="pravidla">
  <div class="over-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 align-self-center bg-img">
          <img src="../assets/imgs/builder5.png" class="img-fluid" alt="" data-aos="fade-up"
               data-aos-anchor-placement="top-center">
        </div>

        <div class="col-sm-12 col-md-12 ">
          <h2 class="text-center" data-aos="fade-zoom-in"
              data-aos-easing="ease-in-back"
              data-aos-delay="300"
              data-aos-offset="0">Pravidla klanu:</h2>
          <h3 class="text-center" data-aos="fade-zoom-in"
              data-aos-easing="ease-in-back"
              data-aos-delay="300"
              data-aos-offset="0">(všichni přečíst alespoň jednou a dodržovat)</h3>
          <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let rule of rules">
              <div class="box-rules h-100 d-flex"
                   data-aos="fade-zoom-in"
                   data-aos-easing="ease-in-back"
                   data-aos-delay="300"
                   data-aos-offset="0">
                <div class="align-self-center">
                  <h5>{{rule.title}}</h5>
                  <p>{{rule.text}}</p>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="discord" id="discord">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-8 mb-4" data-aos="fade-up">
        <h2>
          Jak se přihlásit k nám na Discord.
        </h2>
        <p>
          Discord je hráči široce používaná aplikace pro voice/text komunikaci. Funguje na počítači, tabletu, mobilu i v
          prohlížeči. Má mnoho užitečných funkcí a stále se vyvíjí. Obsahuje i češtinu.
        </p>
        <p>
          Přihlásit se k nám na server můžeš pomocí kódu <span class="kod">qGMaJ4Y</span>, nebo stisknutím tlačítko
          níže.
        </p>
        <a href="https://discord.gg/qGMaJ4Y" target="_blank" class="btn btn-outline-secondary">Přihlásit na Discord</a>

      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="../assets/imgs/disc.png" class="img-fluid" alt="" data-aos="zoom-out-down">
      </div>
    </div>

  </div>

</div>
<div class="youtube" id="youtube">
  <div class="over-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <img src="../assets/imgs/red-blob-icon-youtube-png-18.png" class="img-fluid" alt="" data-aos="fade-up"
               data-aos-duration="500">
          <h2 data-aos="fade-up" data-aos-duration="500">YouTube Channel:</h2>
          <p data-aos="fade-up" data-aos-duration="500">Aktuálně spouštíme náš YouTube kanál kde se objeví videa z Clan
            Wars, Friendly Wars,
            návody, strategie a mnohem dalšího. Sleduj nás, lajkuj, subscribuj!</p>

        </div>
        <div class="col-12 col-md-6 text-center">
          <img src="../assets/imgs/ED.png" class="img-fluid img-ed" alt="" data-aos="fade-left">
        </div>
        <div class="col-12 col-md-4 img-before">
          <div class="text-center yt-box p-2 mb-4" data-aos="fade-right"
               data-aos-duration="500">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Zp8frZxvfT4?controls=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="text-center yt-box p-2 mb-4" data-aos="fade-right"
               data-aos-delay="500"
               data-aos-duration="500">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Zp8frZxvfT4?controls=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="text-center yt-box p-2 mb-4" data-aos="fade-right"
               data-aos-delay="1000"
               data-aos-duration="500">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Zp8frZxvfT4?controls=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 text-right">
          <a href="https://www.youtube.com/channel/UCf6tC9I6PXJRikgFNG_I3-Q" target="_blank"
             class="btn btn-link-secondary" data-aos="fade-up"
             data-aos-delay="1500"
             data-aos-anchor-placement="center-bottom">YouTube Channel <i class="fa fa-angle-double-right"></i></a>

        </div>


      </div>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container text-center py-2">

    <p class="mb-0">Copyright 2018 / All Rights Reserved / United Clan</p>
  </div>

</footer>

