<!-- YOUTUBE SECTION -->

<!-- DATA FROM YOUTUBE API -->

<div class="youtube" id="youtube" *ngIf="items">
  <div class="over-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <picture>
            <source srcset="../assets/imgs/red-blob-icon-youtube-png-18.webp" type="image/webp">
            <source srcset="../assets/imgs/red-blob-icon-youtube-png-18.png" type="image/png">
            <img src="../assets/imgs/red-blob-icon-youtube-png-18.png" class="img-fluid" alt="youtube icon" data-aos="fade-up"
                 data-aos-duration="500">
          </picture>
          <h2 data-aos="fade-up" data-aos-duration="500">YouTube Channel:</h2>
          <p data-aos="fade-up" data-aos-duration="500">Aktuálně spouštíme náš YouTube kanál kde se objeví videa z Clan
            Wars, Friendly Wars,
            návody, strategie a mnohem dalšího. Sleduj nás, lajkuj, subscribuj!</p>

        </div>
        <div class="col-12 col-md-6 text-center">
          <picture>
            <source srcset="../assets/imgs/ED.webp" type="image/webp">
            <source srcset="../assets/imgs/ED.png" type="image/png">
            <img src="../assets/imgs/ED.png" class="img-fluid img-ed" alt="Dragon image" data-aos="fade-left">
          </picture>

        </div>

        <div class="col-12 col-md-4" *ngFor="let i of items">
          <div class="text-center yt-box p-2 mb-4" data-aos="fade-right"
               data-aos-delay="500"
               data-aos-duration="500">
            <iframe width="100%" height="100%" [src]="i.snippet.resourceId.videoId | yTvideos"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <h5 class="videoTitle" data-aos="fade-right"
              data-aos-delay="500"
              data-aos-duration="500">{{i.snippet.title}}</h5>
        </div>

        <div class="col-12 text-right">
          <a href="https://www.youtube.com/channel/UCf6tC9I6PXJRikgFNG_I3-Q" target="_blank"
             class="btn btn-link-secondary" data-aos="fade-up"
             data-aos-delay="1500"
             data-aos-anchor-placement="center-bottom">YouTube Channel <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
