<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <a class="navbar-brand d-md-none" href="#">
      <img src="../assets/imgs/logo20s.png" width="auto" height="30" class="d-inline-block align-top" alt="">
    </a>
    <p class="nav-name mb-0 d-md-none">United Clan</p>
    <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex mx-auto align-content-center">
      <li class="nav-item align-self-center">
        <a class="nav-link" href="#home" >Home</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="#o-nas">O nás</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="#pridej-se" >Přidej se</a>
      </li>
      <li class="nav-item align-self-center d-none d-md-block">
        <a class="my-2" href="#">
          <img src="../assets/imgs/logo20s.png" width="auto" height="40" class="d-inline-block align-top" alt="">
        </a>
      </li>
      <li class="nav-item align-self-center">
      <a class="nav-link" href="#pravidla">Pravidla Klanu</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="#discord">Discord</a>
      </li>
      <li class="nav-item align-self-center">
        <a class="nav-link" href="#youtube">YouTube</a>
      </li>
    </ul>
  </div>
</nav>

