<!-- JOIN OUR CLAN Section -->
<div class="join" id="pridej-se">
  <div class="over-2">
    <div class="container py-5">
      <div class="row">
        <div class="box col-sm-12 col-md-12 col-lg-6 p-5 align-self-center" data-aos="fade-right">
          <h2 class="font-weight-bold">Přijímáme aktivní hráče</h2>
          <ul class="list-unstyled">
            <li>Neuspěchaná base</li>
            <li>Minimalne TH 11+</li>
            <li>Chuť se učit novým věcem</li>
            <li>Komunikativnost</li>
            <li>Aktivita</li>
            <li>Věk 18+</li>
            <li>Zájem budovat společný klan</li>
            <p class="text-right">
              <a href="#discord" class="btn btn-link">Přidej se k nám <i class="fa fa-angle-double-right"></i></a>
            </p>
          </ul>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 align-self-center">
          <picture>
            <source srcset="../assets/imgs/builder4.webp" type="image/webp">
            <source srcset="../assets/imgs/builder4.png" type="image/png">
            <img src="../assets/imgs/builder4.png" class="img-fluid" alt="builder" data-aos="fade-up">
          </picture>

        </div>
      </div>
    </div>
  </div>

</div>
