.btn-outline-secondary {
  border: 2px solid #860F0F;
  color: #860F0F;
  &:hover {
    background-color: #3E3E3E;
    color: #DBDBDB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 2px solid #3E3E3E;
  }
}

.btn-link-secondary {
  position: relative;
  z-index: 10;
  color: #860F0F;
  &:hover {
    color: #3E3E3E;
  }
  &::after {
    content: '';
    display: block;
    border-bottom: solid 2px #860F0F;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
