


.intro {
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-color: #DBDBDB;
  @media (min-width: 768px) {
    background: url("/assets/imgs/bg.jpg");
    background-size:cover;
  }

  .over {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
    @media (min-width: 768px) {
      &:after{
        content:'';
        position:absolute;
        left: -15vh; top:-15vh;
        border-radius:100%;
        width: 90vh; height: 90vh;
        box-shadow: 0px 0px 0px 4000px #DBDBDB;
      }
    }

  }

  &::after {
    content: '';
    top: -65vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 120vh;
    width: 120vh;
    background: #3E3E3E;
    position: absolute;
    transform: rotate(310deg);
    border-radius: 50px;
  }
  .king {
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 3vh;
    height: auto;
    width: 80vh;
  }
  .builder {
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: -60vh;
    margin-top: 3vh;
    height: auto;
    width: 90vh;
    @media (max-width: 767px) {
      position: absolute;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      margin-top: 10vh;
      height: auto;
      width: 80vh;
    }
  }
  .logo {
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 95vh;
    margin-top: 3vh;
    height: auto;
    width: 40vh;
  }

}

.uc {
  background-color: #DBDBDB;
  overflow: hidden;
  @media (min-width: 768px) {
    background: url("/assets/imgs/bg-02.jpg");
    background-size: cover;
  }
  .over-3 {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
    @media (min-width: 768px) {
      &:after{
        z-index: 0;
        content:'';
        position:absolute;
        right: -15vh; top: -15vh;
        border-radius:100%;
        width: 100vh; height: 100vh;
        box-shadow: 0px 0px 0px 4000px #DBDBDB;
      }
    }

  }
  .img-fluid {
    position: relative;
    z-index: 10;
  }

  .box {
    background-color: #860F0F;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    &::before {
      //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      border-radius: 30px;
      right: 10px;
      top: 10px;
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: #3E3E3E;
      z-index: -5;
    }
  }

  .builder-2 {

  }

  h5 {
    color: #860F0F;
  }
 p {
   color: #DBDBDB;
 }

  .builder-4 {
    position: absolute;
    z-index: 3;
  }

}
.join {
  background-color: #DBDBDB;
  overflow: hidden;
  @media (min-width: 768px) {
    background: url("/assets/imgs/bg-02.jpg");
    background-size: cover;
  }

  .over-2 {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
    @media (min-width: 768px) {
      &:after{
        z-index: 0;
        content:'';
        position:absolute;
        left: -15vh; top: -15vh;
        border-radius:100%;
        width: 90vh; height: 90vh;
        box-shadow: 0px 0px 0px 4000px #DBDBDB;
      }
    }

  }
  .img-fluid {
   position: relative;
    z-index: 10;
  }

  .box {
    background-color: #860F0F;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    &::before {
      //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      border-radius: 30px;
      left: 10px;
      top: 10px;
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: #3E3E3E; /* Old browsers */
      //background: -moz-linear-gradient(top, rgb(60, 63, 65) 0%, #3E3E3E 100%); /* FF3.6-15 */
      //background: -webkit-linear-gradient(top, rgba(60, 63, 65) 0%,#3E3E3E 100%); /* Chrome10-25,Safari5.1-6 */
      //background: linear-gradient(to bottom, rgba(60, 63, 65) 0%,#3E3E3E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
      z-index: -5;
    }
  }


  h5 {
    color: #860F0F;
  }

  li {
    color: #DBDBDB;
    &::before {
      content: "\f00c";
      font-family: FontAwesome;
      display: inline-block;
      color: #DBDBDB;
      padding-right: 5px;
    }
  }
  .btn-link {
    text-decoration: none;
    color: #DBDBDB;
    &:hover {
      color: #860F0F;
      text-decoration: none;
    }
    &::after {
      content: '';
      display: block;
      border-bottom: solid 2px #860F0F;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }

}

.rules {
  background-color: #DBDBDB;
  overflow: hidden;
  @media (min-width: 1024px) {
    background: url("/assets/imgs/bg-02.jpg") top right no-repeat;
    background-size: contain;
  }

  .over-4 {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
    @media (min-width: 768px) {
      &:after{
        z-index: 0;
        content:'';
        position:absolute;
        right: -15vh; top: -15vh;
        border-radius:100%;
        width: 90vh; height: 90vh;
        box-shadow: 0px 0px 0px 4000px #DBDBDB;
      }
    }

  }
  .img-fluid {
    position: relative;
    z-index: 10;
  }

  h2, h3 {
    color: #3E3E3E;
    position: relative;
    z-index: 10;
  }

  h5 {
    color: white;
    &::after {
      content: '';
      display: block;
      border-bottom: solid 2px #860F0F;
      width: 60px;
      padding-top: 5px;
    }
  }
  p {
    color: #DBDBDB;
  }
  .box-rules {
    background: #3E3E3E;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    z-index: 10;
    &:hover {
      transition: 0.5s;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: -10px;
      margin-top: -10px;
      padding: 30px;
    }
  }


}
.discord {
  background-color: #DBDBDB;
  overflow: hidden;
  h2, p {
    color: #3E3E3E;
  }
  .kod {
    color: #860F0F;
  }
}
.youtube {
  position: relative;
  overflow: hidden;
  background-color: #DBDBDB;
  overflow: hidden;

  @media (min-width: 768px) {
    background: url("/assets/imgs/bg-02.jpg") top right no-repeat;
    background-size: cover;
  }

  .over-5 {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:hidden;
    @media (min-width: 768px) {
      &:after{
        z-index: 0;
        content:'';
        position:absolute;
        right: -15vh; top: -15vh;
        border-radius:100%;
        width: 90vh; height: 90vh;
        box-shadow: 0px 0px 0px 4000px #DBDBDB;
      }
    }

  }
  .img-fluid {
    position: relative;
    z-index: 10;
  }


  h2 {
    position: relative;
    z-index: 10;
    color: #860F0F;
  }
  p {
    position: relative;
    z-index: 10;
    color: #3E3E3E;
  }
  .yt-box {
    position: relative;
    z-index: 10;
    background-color: #3E3E3E;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .img-ed {
    position: relative;
    z-index: 10;
    width: 120%;
    height: auto;
    @media (min-width: 768px) {
      margin-bottom: -30px;
    }

  }
}
.footer {
  color: #DBDBDB;
  background-color: #3E3E3E;

}
